.App {
  text-align: center;
}

.jumbotron-green {
  background-color: green;
  color: white;
  font-weight: 900;
}

.status-box {
  background-color: antiquewhite;
}

.pick-box {
  border: 3px solid darkslategray;
  border-radius: 16px;
}

.table-container {
  overflow: auto;
  height: 60vh;
}

.table-container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.going-soon {
  border-left: 4px solid orange;
}

.pick-container {
  display: flex;
  justify-content: center;
}

.table td {
  white-space: nowrap;
}