.App {
    text-align: center;
  }
  
  .counter-container{
    position:absolute;
    top: 0;
  }
  
  .counter{
    left: 0;
    margin-left: 2%;
  }
  
  .round-container{
    right: 0;
    margin-right: 2%;
  }
  
  .counter-container button{
    width:25%;
    margin-left:4%;
    margin-right: 4%;
  }
  
  .workspace{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
  }
  
  .section-container {
    margin-top:2%;
    border: 1px solid black;
    border-radius: 4px;
    height: fit-content;
  }
  
  .section-container h2{
    background-color: black;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 2% 2% 2% 2%;
  }
  
  .table-container{
    margin-left:auto;
    margin-right: auto;
  }
  
  .table-header{
    font-weight: bold;
  }
  
  .rankings{
    width: auto;
  }
  
  .myteam{
    width: auto;
    height: fit-content;
  }
  
  .button-row{
    width: 10%;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  table{
    border-collapse: collapse;
  }
  
  .going-soon{
    border: 2px solid gold;
  }
  
  .should-have-gone{
    border: 2px solid red;
  }
  
  .good-deal{
    background-color: lightgreen;
  }
  
  .bad-deal{
    background-color: lightpink;
  }